body {
  text-align: center;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

#info {
  font-size: 1.2rem;
  margin-top: -10px;
  color: #444;
}

.btn {
  height: 180px;
  width: 180px;
  border-radius: 20%;
  border: 10px solid black;
  margin: 1.5rem;
  cursor: pointer;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-one,
.line-two {
  display: flex;
}

.yellow {
  background-color: #f99b45;
}

.red {
  background-color: #d95980;
}

.purple {
  background-color: #819ff9;
}

.green {
  background-color: #63aac0;
}

.flash {
  background-color: white !important;
}

.userflash {
  opacity: 0.5;
}